ion-content {
    form {
        background: var(--ion-content-theme);
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        ion-grid {
            ion-row {
                gap: 6vh;

                ion-col {
                    display: flex;
                    flex-direction: column !important;
                    align-items: center;

                    ion-title {
                        --color: var(--ion-text-general);
                    }

                    h5 {
                        text-align: center;
                        color: var(--ion-text-general);
                    }

                    ion-input {
                        --color: var(--ion-text-general);
                        --padding-end: 2vh;
                        --padding-start: 2vh;
                        --border-color: var(--ion-header-theme);
                    }

                    ion-buttons{
                        display: flex;
                        justify-content: space-evenly;
                        width: 100%;
                        ion-button{
                            --color: var(--ion-text-general);
                        }
                    }

                }

                ion-col.col-btn {
                    display: block;
                }
            }
        }
    }
}