ion-menu {

    ion-header {
        ion-toolbar {
            --background: var(--ion-header-theme);

            ion-title {
                --color: var(--ion-header-text)
            }
        }
    }

    ion-content > main{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        background: var(--ion-content-theme);

        /*ion-button{
            margin-top: 100%;
            width: 97%;
        }*/

        ion-list{
            background: var(--ion-content-theme);
            ion-item{
                --background: var(--ion-content-theme);
                --ripple-color: var(--ion-ripple-theme);
                ion-icon{
                    color: var(--ion-text-general);
                }
                ion-label{
                    color: var(--ion-text-general);
                }
                ion-toggle{
                    color: var(--ion-text-general);
                }
            }
        }

    }





}



#main-content>ion-header {
    ion-toolbar {
        --background: var(--ion-header-theme);

        ion-buttons {
            display: flex;
            gap: 2vh;

            ion-button {
                --color: var(--ion-header-text)
            }

            ion-menu-button {
                --color: var(--ion-header-text)
            }
        }

        ion-title {
            --color: var(--ion-header-text)
        }
    }

}