<ion-tab-bar slot="bottom">
  <ion-tab-button tab="home" (click)="navigateTo('home')">
    <ion-icon name="home"></ion-icon>
    Home
  </ion-tab-button>
  <ion-tab-button tab="home" (click)="navigateTo('perfil-pasajero')">
    <ion-icon name="person-circle"></ion-icon>
    Mi perfil
  </ion-tab-button>
  <ion-tab-button tab="radio" (click)="navigateTo('historial-viajes')">
    <ion-icon name="car-sport"></ion-icon>
    Historial de viajes
  </ion-tab-button>
  <ion-tab-button tab="library">
    <ion-icon name="settings"></ion-icon>
    Configuración
  </ion-tab-button>
</ion-tab-bar>