ion-content {
    --background-color: var(--ion-content-theme);

    main {
        padding: 2vh;
        display: flex;
        justify-content: center;
        form {
            background: var(--ion-content-theme);
            display: flex;
            flex-direction: column;
            gap: 4vh;
            ion-title{
                text-align: center;
            }
            h5{
                text-align: center;
            }
            div{
                ion-input{
                    --border-radius: 2vh;
                    --border-color: var(--ion-text-general);
                    outline: none;
                }
            }
        }
    }
}