<app-header-principal titulo="Crear una cuenta"></app-header-principal>
@if (cargando) {
<ion-progress-bar type="indeterminate"></ion-progress-bar>
}

<ion-content>
  <main>
    <form [formGroup]="formularioRegistro" (ngSubmit)="registrar()">
      <div>
        <h5>Completa los campos para ingresar con tu perfil de usuario</h5>
      </div>
      <div>
        <ion-input label="Nombre" helperText="Ingresa tu nombre"></ion-input>
      </div>
      <div>
        <ion-input label="Apellido" helperText="Ingresa tu apellido"></ion-input>
      </div>
      <div>
        <ion-input label="Correo electronico" helperText="Ingresa tu correo electronico"></ion-input>
      </div>
      <div><ion-input label="Contraseña" helperText="Ingresa tu contraseña"></ion-input></div>
      <div><ion-input label="Repetir contraseña" helperText="Repite tu contraseña"></ion-input></div>
      <div><ion-buttons>
          <ion-button>Ya tengo una cuenta</ion-button>
        </ion-buttons></div>
      <ion-button color="danger">Registrarme</ion-button>
    </form>
  </main>
</ion-content>