ion-header{
    --background: var(--ion-header-theme);
    ion-toolbar{
        --background: var(--ion-header-theme);
        ion-title{
            --color: var(--ion-header-text);
        }
    }
}