ion-content {
    --background: var(--ion-content-theme);
    ion-header {
        --background: var(--ion-content-theme);
        ion-toolbar {
            --background: var(--ion-content-theme);
            ion-title{
                --color: var(--ion-text-general);
            }
            ion-searchbar{
                --color: var(--ion-text-general);
                --background: var(--ion-content-theme);
                --icon-color:var(--ion-text-general);
                border: 1px var(--ion-content-theme);

            }
        }
    }

    ion-grid{
        background-color: var(--ion-content-theme);
    }

    ion-title{
        --color: var(--ion-text-general);
    }
}
