<ion-tab-bar slot="bottom">
  <ion-tab-button tab="home" (click)="navigateTo('home')">
    <ion-icon name="home"></ion-icon>
    Home
  </ion-tab-button>
  <ion-tab-button tab="home" (click)="navigateTo('perfil-conductor')">
    <ion-icon name="person-circle"></ion-icon>
    Mi perfil
  </ion-tab-button>
  <ion-tab-button tab="radio" (click)="navigateTo('historial-viajes-conductor')">
    <ion-icon name="time"></ion-icon>
    Historial de viajes
  </ion-tab-button>
  <ion-tab-button tab="library"(click)="navigateTo('configuracion')">
    <ion-icon name="settings"></ion-icon>
    Configuración
  </ion-tab-button>
  <ion-tab-button tab="library"(click)="navigateTo('crear-viaje')">
    <ion-icon name="car"></ion-icon>
    Iniciar Viaje
  </ion-tab-button>
  <ion-tab-button tab="library"(click)="navigateTo('mapa')">
    <ion-icon name="map"></ion-icon>
    Mapa
  </ion-tab-button>
</ion-tab-bar>