<app-header-principal></app-header-principal>
<ion-content>
  <form [formGroup]="forgotForm" (ngSubmit)="resetearContrasena()">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-title>Recuperación de tu contraseña</ion-title>
          <h6>Ingresa tu correo electronico para recuperar tu contraseña</h6>
        </ion-col>
        <ion-col size="12">
          <ion-input label="Correo electronico" labelPlacement="floating" placeholder="Ingresa tu correo electronico"
            fill="outline" formControlName="correo"></ion-input>
        </ion-col>
        <ion-col size="12">
          <ion-buttons>
            <ion-button>Iniciar Sesión</ion-button>
            <ion-button>Registrarme</ion-button>
          </ion-buttons>
        </ion-col>
        <ion-col size="12" class="col-btn">
          <ion-button expand="block" color="danger" type="submit">Recuperar Contraseña</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>