<app-header-principal titulo="Recuperación de contraseña"></app-header-principal>
@if(cargando){
<ion-progress-bar type="indeterminate"></ion-progress-bar>
}
<ion-content>
  <form [formGroup]="forgotForm" (ngSubmit)="recuperarPassword()">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <h3>Olvidaste tu contraseña?</h3>
          <h6>no te preocupes, por favor ingresa tu correo electronico y te contactaremos para recuperar tu contraseña!
          </h6>
        </ion-col>

        <ion-col size="12">
          <ion-input type="text" placeholder="Ingresa tu correo electronico" fill="outline" formControlName="correo"
            [errorText]="validarCampo('correo')"></ion-input>
        </ion-col>

        <ion-col size="12">
          <ion-radio-group value="pasajero" formControlName="tipoUsuario">
            <ion-radio value="pasajeros">Me registre como pasajero</ion-radio>
            <ion-radio value="conductor">Me registre como Chofer</ion-radio>
          </ion-radio-group>
        </ion-col>

        <ion-col size="12">
          <ion-button expand="block" type="submit">Recuperar Contraseña</ion-button>
        </ion-col>


      </ion-row>
    </ion-grid>
  </form>
</ion-content>

<ion-footer class="ion-no-border">
  <h6><a [routerLink]="['/auth/login']">Ir a inicio de sesión</a></h6>
</ion-footer>