<app-header></app-header>
<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-title>Historial de viajes</ion-title>
    </ion-toolbar>
    <ion-toolbar>
      <ion-searchbar placeholder="Buscar viajes"></ion-searchbar>
    </ion-toolbar>
  </ion-header>


  <ion-list>
    <ion-item>
      <ion-icon aria-hidden="true" name="car-sport" slot="start"></ion-icon>
      <ion-label>Melipilla-El Monte</ion-label>
      <ion-button slot="end">
        <ion-icon name="star" slot="end"></ion-icon>
        Ver Detalles
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-icon aria-hidden="true" name="car-sport" slot="start"></ion-icon>
      <ion-label>Melipilla-El Monte</ion-label>
      <ion-button slot="end">
        <ion-icon name="star" slot="end"></ion-icon>
        Ver Detalles
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-icon aria-hidden="true" name="car-sport" slot="start"></ion-icon>
      <ion-label>Melipilla-El Monte</ion-label>
      <ion-button slot="end">
        <ion-icon name="star" slot="end"></ion-icon>
        Ver Detalles
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-icon aria-hidden="true" name="car-sport" slot="start"></ion-icon>
      <ion-label>Melipilla-El Monte</ion-label>
      <ion-button slot="end">
        <ion-icon name="star" slot="end"></ion-icon>
        Ver Detalles
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
<app-footer></app-footer>