<app-header-pasajero></app-header-pasajero>

<ion-content>
    <main>
        <ion-card>
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
            <ion-card-header>
                <ion-card-title>Melipilla-El Monte</ion-card-title>
                <ion-card-subtitle>Chofer: Jane Doe</ion-card-subtitle>
            </ion-card-header>
    
            <ion-card-content>
                Auto: Zuzuki 1 <br>
                Inicio del viaje: 01/01/2024. 22:30 PM <br>
                Fin del viaje: 01/01/2024. 23:30 PM <br>
            </ion-card-content>
            <ion-button fill="clear" (click)="presentAlert()">Solicitar viaje</ion-button>
            <ion-button fill="clear" (click)="goHome()">Volver</ion-button>
        </ion-card>
    </main>
</ion-content>

<app-footer-pasajero></app-footer-pasajero>