<app-header-principal titulo="Registro de usuario"></app-header-principal>
@if(cargando){
<ion-progress-bar type="indeterminate"></ion-progress-bar>
}

<ion-content>
  <form [formGroup]="formularioRegistro" (ngSubmit)="registrar()">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <h3>Registrate para empezar!</h3>
        </ion-col>
        <ion-col size="12">
          <ion-input type="text" placeholder="Ingresa tu nombre de usuario" fill="outline" formControlName="username"
            [errorText]="hasError('username')"></ion-input>
        </ion-col>
        <ion-col size="12">
          <ion-input type="email" placeholder="Ingresa tu correo electronico" fill="outline" formControlName="email"
            [errorText]="hasError('email')"></ion-input>
        </ion-col>
        <ion-col size="12">
          <ion-input type="password" placeholder="Ingresa tu Contraseña" fill="outline" formControlName="password"
            [errorText]="hasError('password')">
            <ion-input-password-toggle slot="end"></ion-input-password-toggle>
          </ion-input>
        </ion-col>
        <ion-col size="12">
          <ion-button expand="block" type="submit">Registrarme</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>

<ion-footer>
  <h6>Ya tienes una cuenta? <a [routerLink]="['/auth/login']">Inicia Sesión</a></h6>
</ion-footer>