// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
    --ion-header-theme: #0054e9;
    --ion-header-text: #fff;
    --ion-content-theme: #fff;
    --ion-text-general: #000;
    --ion-ripple-theme: #d1cece;
}