<app-header-conductor></app-header-conductor>
<ion-content>

  <ion-header class="ion-no-border">
    <ion-toolbar>
      <h3>Mis Viajes Como Conductor</h3>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>

      <ion-col size="12">

        <ion-card>
          <ion-card-header>
            <ion-card-title>Duoc Uc - EL Monte <ion-badge>Vigente</ion-badge></ion-card-title>
            <ion-card-subtitle>Viaje N°1</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            <ion-icon name="calendar"></ion-icon> Fecha de inicio: 15-11-2024 <br>
            <ion-icon name="time"></ion-icon>Hora de inicio: 21:00 PM <br>
            <ion-icon name="time"></ion-icon> Hora de termino: 22:30 PM <br>
            <ion-icon name="people"></ion-icon> Capacidad de pasajeros: 2

          </ion-card-content>
        </ion-card>

      </ion-col>

    </ion-row>
  </ion-grid>



</ion-content>
<app-footer-conductor></app-footer-conductor>