<app-header-conductor></app-header-conductor>
<ion-content>

  <ion-header class="ion-no-border">
    <ion-toolbar>
      <h3>Mis Viajes Como Conductor</h3>
    </ion-toolbar>
  </ion-header>

  @if (!viaje) {
  <ion-title>Aun no tienes viajes para mostrar!</ion-title>
  }@else {
  <ion-card>
    <div>
      <!-- Contenedor del mapa -->
      <div #map id="map" style="height: 500px; width: 100%;"></div>

      <!-- Contenedor para distancia y duración -->
      <div>
        <p><strong>Distancia:</strong> {{ distancia }}</p>
        <p><strong>Duración:</strong> {{ duracion }}</p>
      </div>
    </div>
    <ion-card-header>
      <ion-card-title>Detalles de tu viaje como conductor:</ion-card-title>
      <ion-card-subtitle>Aqui encontrarás todos los detalles de tu viaje que seran visibles para los
        usuarios</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      N° de viaje: <span>{{id}}</span> <br>
      fecha: <span>{{fecha}}</span> <br>
      Salida: <span>{{salida}}</span> <br>
      Destino: <span>{{destino}}</span> <br>
      Capacidad de pasajeros: <span>{{capacidad}}</span> <br>
      Conductor: <span>{{correo}}</span> <br>
    </ion-card-content>
  </ion-card>
  }

</ion-content>
<app-footer-conductor></app-footer-conductor>