header {
  padding: 2vh;

  .text-title {
    font-size: 3rem;
    text-align: center;
  }
}


.search-bar {
  padding: 2vh;
  display: flex;
  justify-content: center;
  gap: 2vh;

  ion-button {
    ion-icon {
      font-size: 2rem;
    }
  }
}

ion-item{
  width: 90vh;
}

main{
  padding: 2vh;
  border: 1px red solid;
  overflow: auto;
}

main,header,ion-item::part(native){
  background-color: var(--ion-content-theme);
}