ion-content{
    form{
        padding: 2vh;
        ion-grid{
            padding: 2vh;
            ion-row{
                ion-col{
                    h3,h6{
                        text-align: center;
                    }
                }
            }
        }
    }
}
