ion-content {
    --background-color: var(--ion-content-theme);
    padding: 2vh;

    form {
        height: 65%;
        display: flex;
        align-items: center;

        ion-grid {

            ion-row {

                ion-col {
                    padding: 1vh 4vh 1vh 4vh;
                    display: flex;
                    flex-direction: column;
                    gap: 1vh;

                    a {
                        text-align: end;
                        text-decoration: none;
                        color: black;
                    }

                    ion-input{
                        --background: #F7F8F9;
                    }

                    h3{
                        padding: 2vh;
                        text-align: center;
                    }

                    ion-radio-group {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                    }
                }
            }
        }
    }
}

ion-footer {
    padding-bottom: 4vh;
    h6 {
        text-align: center;
        a{
            text-decoration: none;
        }
    }
}