<app-header-conductor></app-header-conductor>

<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-title>Viajes creados</ion-title>
    </ion-toolbar>
    <ion-toolbar>
      <ion-searchbar placeholder="Buscar viajes"></ion-searchbar>
    </ion-toolbar>
  </ion-header>


  <ion-list *ngFor="let viaje of viajes">
    <ion-item>
      <ion-icon aria-hidden="true" name="car-sport" slot="start"></ion-icon>
      <ion-label>{{ viaje.lugarInicio }} - {{ viaje.lugarFinal }}</ion-label>
      <ion-button slot="end" color="danger">
        <ion-icon name="star" slot="end" class="star"></ion-icon>
        Ver Detalles
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>

<app-footer-conductor></app-footer-conductor>