<app-header-pasajero></app-header-pasajero>

<ion-content>
  <div class="perfil-container">
    <h2>Datos del usuario</h2>
    <ion-col size="12">
      <h1><ion-icon name="person-circle-outline"></ion-icon></h1>
    </ion-col>
    <div class="perfil-info">
      <p><strong>Nombre:</strong> {{ usuario.nombre }}</p>
      <p><strong>Apellido:</strong> {{ usuario.apellido }}</p>
      <p><strong>Correo Electrónico:</strong> {{ usuario.correo }}</p>
      <p><strong>Tipo Usuario:</strong> {{usuario.tipoUsuario}}</p>
    </div>
  </div>
</ion-content>

<app-footer-pasajero></app-footer-pasajero>