ion-grid{
    background-color: var(--ion-content-theme);
    ion-row{
        background-color: var(--ion-content-theme);
        ion-col{
            background-color: var(--ion-content-theme);
            ion-title{
                --color: var(--ion-text-general);
            }
            ion-list{
                background-color: var(--ion-content-theme);
                display: flex;
                flex-direction: column;
                gap: 2vh;
                ion-item{
                    background-color: var(--ion-content-theme);
                    ion-text-area{
                        --border-color: lightgray;
                    }
                    ion-input{
                        border: 1px solid;
                        --background: var(--ion-content-theme);
                        --color: var(--ion-text-general);
                        --border-color: var(--ion-header-theme);
                    }

                    ion-segment-button{
                        color: var(--ion-text-general);
                    }
                }

                ion-item::part(native){
                    background-color: var(--ion-content-theme);

                }
            }
        }
    }
}

ion-content{
    --background: var(--ion-content-theme);
}