ion-content {
    --background: var(--ion-content-theme);

    h2 {
        color: var(--ion-text-general);
        text-align: center;
        font-size: 1.6rem;
    }

    .perfil-container {
        max-width: 400px;
        margin: 0 auto;
        margin-top: 20px;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

        .perfil-info {
            margin-top: 20px;

            p {
                margin: 10px 0;
                color: var(--ion-text-general);

                strong {
                    color: var(--ion-text-general);
                    /* Cambiado de --color a color */
                }
            }
        }

        ion-col {
            background-color: var(--ion-content-theme);

            ion-title {
                text-align: center;
                color: var(--ion-text-general);
                /* Cambiado de --color a color */
            }

            h1 {
                text-align: center;
            }

            ion-icon {
                color: var(--ion-text-general);
                font-size: 4.5rem;
            }
        }
    }

    form {
        background-color: var(--ion-content-theme);

        ion-grid {
            background-color: var(--ion-content-theme);

            ion-row {
                background-color: var(--ion-content-theme);

                ion-col {
                    background-color: var(--ion-content-theme);

                    ion-title {
                        text-align: center;
                        color: var(--ion-text-general);
                        /* Cambiado de --color a color */
                    }

                    h1 {
                        text-align: center;
                    }

                    ion-icon {
                        color: var(--ion-text-general);
                        font-size: 5rem;
                    }

                    ion-button {
                        ion-icon {
                            color: white;
                            font-size: 1.5rem;
                        }
                    }

                    ion-input {
                        color: var(--ion-text-general);
                        /* Cambiado de --color a color */
                        border-color: var(--ion-text-general);
                        /* Cambiado de --border-color a border-color */
                    }
                }
            }
        }
    }
}