@if (tipoUsuario === "pasajero") {
<app-header-pasajero></app-header-pasajero>
}@else if (tipoUsuario === "conductor"){
<app-header-conductor></app-header-conductor>
}@else{
<app-header-principal titulo="Configuración"></app-header-principal>
}


<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-title>Configuración <ion-icon name="cog"></ion-icon></ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item lines="none">
    @if (selectedTheme === "claro"){
    <ion-label>
      <h1>Modo oscuro</h1>
      <p>Activar el modo oscuro en la aplicación</p>
    </ion-label>
    }@else if (selectedTheme === "oscuro") {
    <ion-label>
      <h1>Modo claro</h1>
      <p>Activar el modo claro en la aplicación</p>
    </ion-label>
    }@else {
    <h1>Cambie el tema de la aplicación</h1>
    }
  </ion-item>

  <ion-item>
    <ion-label>Selecciona el tema</ion-label>
    <ion-select [(ngModel)]="selectedTheme" (ionChange)="cambiarTema()">
      <ion-select-option value="claro">Claro <ion-icon name="sunny"></ion-icon></ion-select-option>
      <ion-select-option value="oscuro">Oscuro <ion-icon name="moon"></ion-icon></ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item *ngIf="tipoUsuario !== 'noUser'">
    <ion-button expand="block" (click)="cerrarSesion()">Cerrar Sesión</ion-button>
  </ion-item>
  <ion-item *ngIf="tipoUsuario === 'noUser'">
    <ion-button expand="block" (click)="cerrarSesion()">Salir</ion-button>
  </ion-item>
</ion-content>


@if (tipoUsuario === "pasajero") {
<app-footer-pasajero></app-footer-pasajero>
}@else if (tipoUsuario === "conductor"){
<app-footer-conductor></app-footer-conductor>
}@else{
}