@if (usuario) {
<app-header-pasajero></app-header-pasajero>
}@else{
<app-header-conductor></app-header-conductor>
}


<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-title>configuracion <ion-icon name="cog"></ion-icon></ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item lines="none">
    <ion-label>
      <h1>Modo oscuro</h1>
      <p>Activar el modo oscuro en la aplicacion</p>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-radio-group value="claro" (ionChange)="cambiarTema()">
      <ion-radio value="claro">Claro <ion-icon name="sunny"></ion-icon></ion-radio><br />
      <ion-radio value="oscuro">Oscuro <ion-icon name="moon"></ion-icon></ion-radio><br />
      <ion-radio value="predeterminado">Predeterminado del sistema <ion-icon name="logo-windows"></ion-icon>
      </ion-radio><br />
    </ion-radio-group>
  </ion-item>
  <ion-button expand="block" color="danger" (click)="cerrarSesion()">Cerrar Sesión</ion-button>
</ion-content>


@if (usuario) {
<app-footer-pasajero></app-footer-pasajero>
}@else{
<app-footer-conductor></app-footer-conductor>
}