<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Configuración <ion-icon name="cog"></ion-icon></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none">
    Tema de la aplicación
  </ion-item>

  <ion-item>
    <ion-label>Selecciona el tema</ion-label>
    <ion-select [(ngModel)]="selectedTheme" (ionChange)="cambiarTema()">
      <ion-select-option value="claro">Claro <ion-icon name="sunny"></ion-icon></ion-select-option>
      <ion-select-option value="oscuro">Oscuro <ion-icon name="moon"></ion-icon></ion-select-option>
    </ion-select>
  </ion-item>

  @if (tipoUsuario !== 'noUser') {
    <ion-button expand="block" (click)="cerrarSesion()">Cerrar Sesión</ion-button>
  }@else if (tipoUsuario === 'noUser') {
    <ion-button expand="block" (click)="cerrarSesion()">Salir</ion-button>
  }

</ion-content>


@if (tipoUsuario === "pasajero") {
<app-footer-pasajero></app-footer-pasajero>
}@else if (tipoUsuario === "conductor"){
<app-footer-conductor></app-footer-conductor>
}@else{
}