<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Opciones <ion-icon name="options-sharp"></ion-icon></ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <main>
      <ion-list>
        <ion-item button>
          <ion-label>Mi perfil</ion-label>
        </ion-item>
        <ion-item button>
          <ion-label>Historial de viajes</ion-label>
        </ion-item>
        <ion-item button>
          <ion-label>Opciones</ion-label>
        </ion-item>
      </ion-list>
      <ion-button expand="block" color="danger">Cerrar Sesión</ion-button>
    </main>
  </ion-content>
</ion-menu>

<ion-header id="main-content">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>TeLlevoApp</ion-title>
  </ion-toolbar>
</ion-header>